body, html{
    background-color: #f49237;
    height: 100%;
}

main{
    height: 85%;
    background-color: #f49237;
    background-size: cover;
    align-items: center;
    text-align: center;
}

main img{
    padding-top: 15rem;
}


